<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="local.hapra.ashaappjava">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FullscreenTheme">
        <activity
            android:name="local.hapra.ashaappjava.ui.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="local.hapra.ashaappjava.ui.LoggerActivity"
            android:label="@string/lblLogger"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="local.hapra.ashaappjava.ui.DeviceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="local.hapra.ashaappjava.ui.SensorFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="local.hapra.ashaappjava.ui.AktorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullscreenTheme"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>